
@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Fauna+One&family=Lobster&display=swap');

#root{
  background-color: var(--light);
}

:root{
  --dark: #394a51;
  --middle: #7fa99b;
  --light: #fbf2d5;
}


.barrier-container{
  background-color: var(--middle);
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 2fr 2fr  2fr 2fr;
  grid-template-rows: 0.2fr 0.2fr;
  align-items: center;
}

.barrier-container > h1{
  text-align: center;
  grid-column: 4;
}

.barrier-container > #first{
  display: flex;
  grid-column: 3;
  grid-row: 2;
}
.barrier-container > #second{
  display: flex;
  grid-column: 4;
  grid-row: 2;
}

.barrier-container > #third{
  display: flex;
  grid-column: 5;
  grid-row: 2;
}


.toolbar-comp{
  font-family: Cinzel;
  display: grid;
  grid-template-columns: 2fr 6fr 2fr;
}

.toolbar-comp > .a-container {
  display: flex;
  justify-content: space-between;
  grid-column: 2;
}

.headerDiv{
  background-color: var(--dark);
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 1fr;
}

.headerDiv > .button-containers > .buttons{
  border-radius: 12px;
  
}
.headerDiv > .button-containers > .buttons:hover {
  cursor: pointer;
  background-color: var(--middle);
  
}

.headerDiv > .button-containers{
  grid-column: 4;
  display: flex;
  justify-content: right;
  justify-content: space-around;
}

.headerDiv > .logoContainer{
  display: flex;
  justify-content: space-evenly;
  grid-column: 2;
}

.logoContainer > a > img{
  min-width: 3em;
  max-height: 2em;
}


.App {
  font-family: 'Cinzel';
  text-align: center;
}

.text {
  font-family: Fauna One, serif;
  color: var(--dark);
}

.title-comp {
  font-family:Cinzel, serif;
  color: var(--dark);
}

.App-logo {
  height: 40vmin;  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: var(--blue);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--blue);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
