@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Fauna+One&family=Lobster&display=swap');

#root {
  background-color: var(--light);
}

:root {
  --dark: #394a51;
  --middle: #7fa99b;
  --light: #fbf2d5;
}

.footer {
    background-color: var(--dark);
    height: fit-content;
    display: flex;
    justify-content: center;
  
}

/*header start*/
.headerDiv {
  background-color: var(--dark);
  display: grid;
  grid-template-columns: 1fr 1fr 4fr 1fr;
  height: 4em;

}

.headerDiv>.logoContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  grid-column: 1;
}

.logoContainer>a>img {
  min-width: 3em;
  max-height: 2em;
}

.buttonz {
  border-radius: 10px;
  background-color: var(--light);
  width: 13em;
  height: 3em;
  font-family: Fauna One, serif;
}

.buttonz:hover {
  cursor: pointer;
  background-color: var(--middle);
  border-color: var(--middle);
  height: 3em;
}

.headerDiv>.button-containers {
  grid-column: 4;
  display: flex;
  justify-content: right;
  align-items: center;
}

/*header end*/

.pictures {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  margin: 365px;
  margin-top: 20px;
  margin-bottom: 20px;
}

/*Animal pic start*/
.animal-pic-container {
  width: fit-content;
}

.animal-pic-container:hover {
  cursor: pointer;
  background-color: var(--middle);
}

.animal-pic-container>h2 {
  font-family: Cinzel;
  text-align: center;
}

/*Animal pic end*/

/*Adoption card start*/
.Donation {
  display: flex;
  background-color: var(--dark);
  width: -moz-fit-content;
  width: 300px;
  height: 356px;
  align-items: center;
  border-radius: 45px;
}

.adopt-form {
  padding: 10%;
  margin-left: 25px;

}

.input {
  width: 180px;
  height: 25px;
}

/*Adoption card end*/

/*barrier start*/
.barrier-container {
  background-color: var(--middle);
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 2fr 2fr 2fr 2fr;
  grid-template-rows: 0.2fr 0.2fr 0.2fr;
  align-items: start;
}

.barrier-container>h1 {
  text-align: center;
  grid-column-start: 3;
  grid-column-end: 6;
  grid-row: 1;
}


.barrier-container>#first {
  display: flex;
  grid-column: 3;
  grid-row: 2;
  align-items: center
}



.barrier-container>#second {
  display: flex;
  grid-column: 4;
  grid-row: 2;
}

.barrier-container>#third {
  display: flex;
  grid-column: 5;
  grid-row: 2;
}

/*barrier end*/

/*text start*/
.text {
  font-family: Fauna One, serif;
  color: var(--dark);
}

h1 {
  font-family: Cinzel, serif;
  color: var(--dark);
  text-align: center;
}

.text-comp {
  margin-left: 3%;
  margin-right: 3%;
  text-align: justify;
  padding: 1%
}

.form-text {
  text-align: center;
  font-family: Fauna One, serif;
  color: var(--light);
  padding: 10%;
}

/*text end*/

/*contact card start*/
.actualForm {
  background-color: var(--dark);
  width: 300px;
  display: flex;
  border-radius: 56px;
  justify-content: space-around;
  color: var(--light);
}

.label {
  color: var(--light);
  font-family: Fauna One, serif;
  margin-left: 16px;
}

.formContainer {
  background-color: var(--light);
  display: flex;
  justify-content: space-evenly;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
  margin-bottom: 10px;
}

input[type=submit] {
  border-radius: 10px;
  background-color: var(--light);
  width: 12em;
  height: 3em;
  font-family: Fauna One, serif;
}

input[type=submit]:hover {
  cursor: pointer;
  background-color: var(--middle);
  border-color: var(--middle);
  height: 3em;
}

/* contact card end*/


@media only screen and (max-width: 900px) {
  .barrier-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}