
@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Fauna+One&family=Lobster&display=swap');

#root{
  background-color: var(--light);
}

:root{
  --dark: #394a51;
  --middle: #7fa99b;
  --light: #fbf2d5;
}

/*header start*/
.headerDiv{
  background-color: var(--dark);
  display: grid;
  grid-template-columns: 1fr 1fr 4fr 1fr;
  height: 4em;
  
}

.headerDiv > .logoContainer{
display: flex;
justify-content: space-evenly;
align-items: center;
grid-column: 1;
}

.logoContainer > a > img{
min-width: 3em;
max-height: 2em;
}

.buttonz{
  border-radius: 10px;
  background-color: var(--light);
  width: 12em;
  height: 3em;
  font-family: Fauna One, serif; 
}

.buttonz:hover {
  cursor: pointer;
  background-color: var(--middle);
  border-color: var(--middle);
  height: 3em;
}

.headerDiv > .button-containers{
  grid-column: 4;
  display: flex;
  justify-content: right;
  align-items: center;
}
/*header end*/

.pictures {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  margin: 365px;
  margin-top: 20px;
  margin-bottom: 20px;
}


.animal-pic-container{
  width: fit-content;
}

 .animal-pic-container > h2 {
  font-family: Cinzel;
}

/*barrier start*/
.barrier-container{
  background-color: var(--middle);
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 2fr 2fr  2fr 2fr;
  grid-template-rows: 0.2fr 0.2fr;
  align-items: center;
}

.barrier-container > h1{
  text-align: center;
  grid-column-start: 3;
  grid-column-end: 6;
  grid-row: 1;
}


.barrier-container > #first{
  display: flex;
  grid-column: 3;
  grid-row: 2;
}
.barrier-container > #second{
  display: flex;
  grid-column: 4;
  grid-row: 2;
}

.barrier-container > #third{
  display: flex;
  grid-column: 5;
  grid-row: 2;
}
/*barrier end*/

/*text start*/ 
.text {
  font-family: Fauna One, serif;
  color: var(--dark);
}

h1 {
  font-family:Cinzel, serif;
  color: var(--dark);
}

.text-comp {
  margin-left: 3%;
  margin-right: 3%;
  text-align: justify;
}
/*text end*/

/*contact card start*/
.Donation{
  display: flex;
  background-color: var(--dark);
  width: -moz-fit-content;
  width: 266px;
  height: 200px;
  align-items: center;
  border-radius: 45px;
  justify-content: center;
}

.actualForm{
  background-color: var(--dark);
  width: 299px;
  display: flex;
  border-radius: 56px;
  justify-content: space-around;
  color: var(--light);
}

.formContainer{
  background-color: var(--middle);
  display: flex;
  justify-content: space-evenly;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
}
/* contact card end*/
 

