:root{
    --dark: #394a51;
    --middle: #7fa99b;
    --light: #fbf2d5;
  }
  
@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Fauna+One&family=Lobster&display=swap');

.Donation{
    display: flex;
    background-color: var(--dark);
    width: -moz-fit-content;
    width: 266px;
    height: 200px;
    align-items: center;
    border-radius: 45px;
    justify-content: center;
}

.actualForm{
    background-color: var(--dark);
    width: 299px;
    display: flex;
    border-radius: 56px;
    justify-content: space-around;
    color: var(--light);
}

.formContainer{
    background-color: var(--middle);
    display: flex;
    justify-content: space-evenly;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
}