@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Fauna+One&family=Lobster&display=swap');
:root{
    --dark: #394a51;
    --middle: #7fa99b;
    --light: #fbf2d5;
  }
.headerDiv{
    background-color: var(--dark);
    display: grid;
    grid-template-columns: 1fr 1fr 4fr 1fr;
    height: 4em;
    
}

.headerDiv > .logoContainer{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  grid-column: 1;
}

.logoContainer > a > img{
  min-width: 3em;
  max-height: 2em;
}

.buttonz{
    border-radius: 10px;
    background-color: var(--light);
    width: 12em;
    height: 3em;
    font-family: Fauna One, serif; 
}

.buttonz:hover {
    cursor: pointer;
    background-color: var(--middle);
    border-color: var(--middle);
    height: 3em;
}
  
.headerDiv > .button-containers{
    grid-column: 4;
    display: flex;
    justify-content: right;
    align-items: center;
}
  
  